@import '~antd/dist/antd.css';
@import "/node_modules/react-grid-layout/css/styles.css";
@import "/node_modules/react-resizable/css/styles.css";

.layout{
  margin: 50px 100px 10px 0px;
  min-height:100vh ;
}

.grid{
  margin-left: 200px;
}

.card{
  box-shadow: 0px 2px 4px rgba(141, 149, 166, 0.1);
  border-radius: 4px;
  background-color: aliceblue;
}

.button{
  float:right;
  margin-top:100px;
}

